2-Floorplan/scripts/riscv_core3/riscv_core_4_finished/attach/design.errdm/riscv_core_5_cts_lvs.err
*/runs

2-Floorplan\scripts\riscv_core*
2-Floorplan/scripts/riscv_core*/*
*.fuse*
*.log
*.txt
*.ndm

2-Floorplan/scripts/riscv_core/*

6-Routing/*
*.rpt


2-Floorplan/scripts/*
*.ems

2-Floorplan/scripts/*
*.txt



*/report

