2-Floorplan/scripts/riscv_core3/riscv_core_4_finished/attach/design.errdm/riscv_core_5_cts_lvs.err
*/runs

2-Floorplan\scripts\riscv_core*
2-Floorplan/scripts/riscv_core*/*
*.fuse*
*.log
*.txt
*.ndm

2-Floorplan/scripts/riscv_core/*

6-Routing/*
*.rpt


2-Floorplan/scripts/*
*.ems

2-Floorplan/scripts/*
*.txt



*/report

*.ndm
*.gz
*.err
*.log
*.rpt
/2-Floorplan/scripts/riscv_core
/2-Floorplan/scripts/riscv_core
/report
/2-Floorplan/scripts/riscv_core
/results


results/riscv_core.cts.gate.v
report/cts/clock_info.rpt
report/cts/clock_skew.rpt
report/cts/constraints.rpt
report/cts/design_phyiscal.rpt
report/cts/hierarchy.rpt
report/cts/legilality.rpt
report/cts/port_info.rpt
report/cts/power.rpt
report/cts/qor.rpt
report/cts/timing_max_long.rpt
report/cts/timing_max.rpt
report/cts/timing_min_long.rpt
report/cts/timing_min.rpt
report/cts/utilization.rpt
report/fp/clock_info.rpt
report/fp/constraints.rpt
report/fp/design_phyiscal.rpt
report/fp/hierarchy.rpt
report/fp/port_info.rpt
report/fp/power.rpt
report/fp/qor.rpt
report/fp/timing_max_long.rpt
report/fp/timing_max.rpt
report/fp/timing_min_long.rpt
report/fp/timing_min.rpt
report/fp/utilization_site_row.rpt
report/fp/utilization.rpt
report/placement/clock_info.rpt
report/placement/constraints.rpt
report/placement/design_phyiscal.rpt
report/placement/hierarchy.rpt
report/placement/legilality.rpt
report/placement/port_info.rpt
report/placement/power.rpt
report/placement/qor.rpt
report/placement/timing_max_long.rpt
report/placement/timing_max.rpt
report/placement/timing_min_long.rpt
report/placement/timing_min.rpt
report/placement/utilization_sire_row.rpt
report/placement/utilization.rpt
report/pns/clock_info.rpt
report/pns/constraints.rpt
report/pns/design_phyiscal.rpt
report/pns/hierarchy.rpt
report/pns/legilality.rpt
report/pns/port_info.rpt
report/pns/power.rpt
report/pns/qor.rpt
report/pns/timing_max_long.rpt
report/pns/timing_max.rpt
report/pns/timing_min_long.rpt
report/pns/timing_min.rpt
report/pns/utilization_sire_row.rpt
report/pns/utilization.rpt
2-Floorplan/scripts/riscv_core/riscv_core_1_imported/design.ndm
2-Floorplan/scripts/riscv_core/riscv_core_1_imported/pgroute/pgroute.cstr.gz
2-Floorplan/scripts/riscv_core/riscv_core_2_floorplan/design.ndm
2-Floorplan/scripts/riscv_core/riscv_core_2_floorplan/attach/design.errdm/__private_meta_data_^%riscv_core_dppinassgn.err
2-Floorplan/scripts/riscv_core/riscv_core_2_floorplan/attach/design.errdm/__private_meta_data_^%riscv_core_dpplace.err
2-Floorplan/scripts/riscv_core/riscv_core_2_floorplan/attach/design.errdm/riscv_core_dppinassgn.err
2-Floorplan/scripts/riscv_core/riscv_core_2_floorplan/attach/design.errdm/riscv_core_dpplace.err
2-Floorplan/scripts/riscv_core/riscv_core_2_floorplan/pgroute/pgroute.cstr.gz
2-Floorplan/scripts/riscv_core/riscv_core_3_after_pns/design.ndm
2-Floorplan/scripts/riscv_core/riscv_core_3_after_pns/attach/design.errdm/__private_meta_data_^%DRC_report_by_check_pg_drc
2-Floorplan/scripts/riscv_core/riscv_core_3_after_pns/attach/design.errdm/__private_meta_data_^%riscv_core_2_floorplan_floatingPG.err
2-Floorplan/scripts/riscv_core/riscv_core_3_after_pns/attach/design.errdm/__private_meta_data_^%riscv_core_2_floorplan_missingVia.err
2-Floorplan/scripts/riscv_core/riscv_core_3_after_pns/attach/design.errdm/__private_meta_data_^%riscv_core_dppinassgn.err
2-Floorplan/scripts/riscv_core/riscv_core_3_after_pns/attach/design.errdm/__private_meta_data_^%riscv_core_dpplace.err
2-Floorplan/scripts/riscv_core/riscv_core_3_after_pns/attach/design.errdm/DRC_report_by_check_pg_drc
2-Floorplan/scripts/riscv_core/riscv_core_3_after_pns/attach/design.errdm/riscv_core_2_floorplan_floatingPG.err
2-Floorplan/scripts/riscv_core/riscv_core_3_after_pns/attach/design.errdm/riscv_core_2_floorplan_missingVia.err
2-Floorplan/scripts/riscv_core/riscv_core_3_after_pns/attach/design.errdm/riscv_core_dppinassgn.err
2-Floorplan/scripts/riscv_core/riscv_core_3_after_pns/attach/design.errdm/riscv_core_dpplace.err
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/data_map.design.0.ndm
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/data_map.design.1.ndm
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/design.ndm
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/attach/design.errdm/__private_meta_data_^%__riscv_core_3_after_pns_check_legality.err
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/attach/design.errdm/__private_meta_data_^%__riscv_core_4_placed_check_legality.err
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/attach/design.errdm/__private_meta_data_^%DRC_report_by_check_pg_drc
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/attach/design.errdm/__private_meta_data_^%riscv_core_2_floorplan_floatingPG.err
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/attach/design.errdm/__private_meta_data_^%riscv_core_2_floorplan_missingVia.err
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/attach/design.errdm/__private_meta_data_^%riscv_core_dppinassgn.err
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/attach/design.errdm/__private_meta_data_^%riscv_core_dpplace.err
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/attach/design.errdm/__private_meta_data_^%zroute_internal.err
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/attach/design.errdm/__private_meta_data_^%zroute.err
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/attach/design.errdm/__riscv_core_3_after_pns_check_legality.err
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/attach/design.errdm/__riscv_core_4_placed_check_legality.err
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/attach/design.errdm/DRC_report_by_check_pg_drc
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/attach/design.errdm/riscv_core_2_floorplan_floatingPG.err
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/attach/design.errdm/riscv_core_dppinassgn.err
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/attach/design.errdm/riscv_core_dpplace.err
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/cstrs/design.cintrf.gz
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/cstrs/design.cstr.gz
2-Floorplan/scripts/riscv_core/riscv_core_4_placed/cstrs/design.sym.gz
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/data_map.design.0.ndm
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/data_map.design.1.ndm
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/design.ndm
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/__private_meta_data_^%__riscv_core_3_after_pns_check_legality.err
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/__private_meta_data_^%__riscv_core_4_placed_check_legality.err
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/__private_meta_data_^%DRC_report_by_check_pg_drc
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/__private_meta_data_^%riscv_core_2_floorplan_floatingPG.err
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/__private_meta_data_^%riscv_core_2_floorplan_missingVia.err
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/__private_meta_data_^%riscv_core_dppinassgn.err
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/__private_meta_data_^%riscv_core_dpplace.err
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/__private_meta_data_^%zroute_internal.err
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/__private_meta_data_^%zroute.err
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/__riscv_core_3_after_pns_check_legality.err
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/__riscv_core_4_placed_check_legality.err
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/DRC_report_by_check_pg_drc
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/riscv_core_2_floorplan_floatingPG.err
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/riscv_core_dppinassgn.err
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/riscv_core_dpplace.err
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/zroute_internal.err
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/attach/design.errdm/zroute.err
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/cstrs/design.cintrf.gz
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/cstrs/design.cstr.gz
2-Floorplan/scripts/riscv_core/riscv_core_5_cts/cstrs/design.sym.gz
